@page "/dashboard"

<PageTitle>Dashboard</PageTitle>
<div class="row">
    <div class="col-12">
        <RadzenText Text="Dashboard" TextStyle="TextStyle.H3" TagName="TagName.H1" />
    </div>
</div>
