@page "/splash-screen"

<PageTitle>SplashScreen</PageTitle>
<div class="row">
    <div class="col-12">
        <RadzenText Text="SplashScreen" TextStyle="TextStyle.H3" TagName="TagName.H1" />
    </div>
</div>
