@using HotelAirportService.Domain


<EditForm class="mt-8" Model="@AddRideModel" OnValidSubmit="@SubmitRide">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="container-fluid">
        <div class="row">
            @*<div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="addon-wrapping">Title</span>
                <InputText class="form-control" placeholder="Your cool new note" @bind-Value="newNoteModel.Subject" />
            </div>
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="addon-wrapping">Your Note</span>
                <InputTextArea class="form-control" placeholder="Type your note here" @bind-Value="newNoteModel.Message" />
            </div>
            <div class="input-group">
                <span class="input-group-text">@@</span>
                <InputText class="form-control" placeholder="Author" @bind-Value="newNoteModel.Author" />
            </div>
            <div class="input-group input-group-sm mb-3 mt-3">
                <button class="btn btn-primary form-control" type="submit">Add</button>
            </div>
            <div class="input-group input-group-sm mb-3">
                <button class="btn btn-secondary form-control" type="button">
                    <NavLink class="text-reset" href="my-notes" Match="NavLinkMatch.All">
                        Back to notes
                    </NavLink>
                </button>*@
            @*</div>*@
        </div>

    </div>

</EditForm>

@code
{
    private Ride AddRideModel;

    public void SubmitRide()
    {

    }
}
